{% extends "./base.html" %}
{% load static %}

{% block content %}
<div style="background-image:url('{% static 'core/img/hanger.jpg' %}'); padding:20px; height:120vh; width:100%; background-size: cover; background-repeat:no-repeat;"  class="px-4 text-center">
  
  <h1 class="display-5 fw-bold"></h1>
  <div class="col-lg-6 mx-auto"> <br><br>
    <p style="font-size: 30px;" class="lead mb-4 mt-3 fw-bold">Live, Love what you wear</p> <br>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a type="button" class="btn btn-dark btn-lg px-4 mt-5 gap-3" href="{% url 'core:list' %}">Shop now</a>
      
    </div>
  </div>
</div>
<div style="height:100vh; padding:40px;" class="container-fluid">
  <div class="">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-12 col-lg-6 flex justify-content-sm-center">
        <img src="{% static 'core/img/cap.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="200" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-10 fw-bold lh-1">Shop with ease.</h1> <br>

        <div class="d-grid gap-2 d-md-flex text-center justify-content-md-start">
          <a type="button" class="btn btn-outline-dark btn-lg btn-block px-4 me-md-2" href="{% url 'core:list' %}">Get started</a>
         
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div style="background-color:black; color:white; padding: 25px;" class="mt-5 container-fluid text-center">
  <p class="lead text-center pt-2">New Release</p> <br>
  <h3 class="text-center">Shop from our latest collection</h3> <hr>
  <a href="" class="btn btn-light text-center">Shop now</a>
</div>
{% endblock content %}
